* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all;
}
body {
  scroll-behavior: smooth;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
a {
  color: black;
  text-decoration: none !important;
}
a:visited {
  color: #3c3c3c;
}
a:hover {
  color: black !important;
}
.navbar {
  background: rgba(255, 255, 255, 0);
  box-shadow: 2px 12px 30px -17px rgba(34, 60, 80, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 !important;
}
.navbar .menu {
  margin-left: 50px;
  margin-right: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  list-style: none;
}
.navbar .menu li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  transition: 0.3s linear;
}
.navbar .menu li a {
  color: #3c3c3c;
}
.navbar .menu li a:visited {
  color: #3c3c3c;
}
.navbar .menu li a:hover {
  color: #ffa300;
}
.navbar .logout {
  margin-right: 20px;
}
.navbar .logout button {
  padding: 5px 15px;
  border-radius: 25%;
  color: #ffa300;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: 2px solid #ffa300;
}
.open-navbar {
  display: none;
}
.init-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/static/img/background.png") center no-repeat;
  background-size: cover;
}
.init-container .init-form {
  letter-spacing: 3px;
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 50px 0 50px 0;
  border-radius: 5px;
}
.init-container .init-form h2 {
  color: #3c3c3c;
  font-weight: 300;
}
.init-container .init-form {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.init-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.init-container .login-form input {
  width: 290px;
  height: 50px;
  font-size: 15px;
  border: solid 2px #ffa300;
  border-radius: 5px;
  padding: 10px;
  color: #6d6d6d;
  margin-bottom: 5px;
}
.init-container .login-form input:focus {
  outline: none;
}
.init-container .login-form input::placeholder {
  color: #6d6d6d;
}
.init-container .login-form .submit {
  background: #ffa300;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
.init-container .login-form .submit:focus {
  border: none;
  outline: none;
  background: #ffa300;
}
.greeting-container {
  background: url("/static/img/tire1.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 5px 41px -41px rgba(34, 60, 80, 0.6);
}
.greeting-container .greeting-label {
  width: 50%;
  height: fit-content;
  margin-top: 10%;
  font-size: 50px;
  color: #3c3c3c;
  text-align: center;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.greeting-container .selector {
  background: white;
  border-radius: 5px;
  padding: 7px;
}
.greeting-container .selector a,
.greeting-container .selector span {
  color: #3c3c3c;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.cards-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 60px;
}
.cards-container .car-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-container .car-container .cards {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.cards-container .car-container .car-label {
  margin: 35px;
  font-size: 50px;
  letter-spacing: 4px;
  border-bottom: solid 2px #ffa300;
  color: #3c3c3c;
}
.cards-container .car-container .sportcar-label {
  border-bottom: solid 2px #00ae0d;
}
.cards-container .car-container .supercar-label {
  border-bottom: solid 2px #ae0000;
}
.cards-container .main-description {
  text-align: center;
  width: 50%;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 72px;
}
.child-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: #3c3c3c;
  letter-spacing: 4px;
  margin-top: 45px;
  padding: 7px;
}
.child-card .price {
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 10px;
}
.child-card .description {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.child-card .car-name {
  text-transform: uppercase;
}
.child-card .button {
  font-size: 16px;
  padding: 16px;
  border: none;
  background: #3c3c3c;
  border-radius: 5px;
  color: #ffa300;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 30px;
}
.child-card .button:hover {
  background: #232323;
}
.child-card .sportcar-button {
  color: #00ae0d;
}
.child-card .supercar-button {
  color: #ae0000;
}
.cards {
  width: 100%;
}
.cards .card {
  width: 32%;
  height: 450px;
  perspective: 500px;
  margin-right: 25px;
  margin-left: 25px;
  border: none !important;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(53deg, #ffa300 50%, #ffffff 50%);
  border: #ffa300 solid 3px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
}
.supercar-front,
.supercar-back {
  background: linear-gradient(53deg, #ae0000 50%, #ffffff 50%);
  border: #ae0000 solid 3px;
}
.sportcar-front,
.sportcar-back {
  background: linear-gradient(53deg, #00ae0d 50%, #ffffff 50%);
  border: #00ae0d solid 3px;
}
.back {
  transform: rotateY(180deg);
}
.main-car-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-car-block {
  margin-top: 100px;
  display: flex;
  height: fit-content;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}
.main-car-block .car-pic {
  box-shadow: 0px 0px 19px -6px rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 5px;
}
.main-car-block .info-block {
  border-radius: 5px;
  margin-left: 30px;
  box-shadow: 0px 0px 19px -6px rgba(34, 60, 80, 0.2);
  height: 417px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  letter-spacing: 3px;
}
.main-car-block .info-block .buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-car-block .info-block .buttons-container button {
  width: 100%;
  margin: 10px;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  color: #3c3c3c;
}
.main-car-block .info-block .buttons-container button:hover {
  background: #3c3c3c;
  color: #ffa300;
}
.reviews-container {
  display: flex;
  justify-content: center;
}
.reviews {
  overflow: hidden;
}
.swiper-slide {
  background: #e8e8e8;
  padding: 25px;
  border-bottom: 2px solid #ffa300;
}
.rev_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.rev_header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid #ffa300;
}
.review-and-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.review-and-description .nav-tabs {
  border-bottom: none;
  width: 60% !important;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.review-and-description .nav-tabs .nav-link,
.review-and-description .nav-tabs .active {
  color: #3c3c3c !important;
  background-color: #fff !important;
  border: none !important;
}
.review-and-description .nav-tabs .active {
  color: #ffa300 !important;
  border-bottom: #ffa300 solid 2px !important;
}
.review-and-description .nav-tabs .nav-link:hover {
  color: #ffa300 !important;
  border-bottom: #ffa300 solid 2px !important;
}
.review-and-description .tab-content {
  width: 60%;
  margin-top: 50px;
}
.profile-section {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-section .profile-container {
  box-shadow: 0px 0px 21px -7px rgba(34, 60, 80, 0.2);
  padding: 20px 0 20px 0;
  border-radius: 5px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile-section .profile-container .avatar img {
  box-shadow: 0px 0px 21px -7px rgba(34, 60, 80, 0.2);
  border-radius: 50%;
}
.profile-section .profile-container .personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-section .profile-container .personal-info .name-surname {
  font-size: 25px;
}
.profile-section .profile-container .personal-info .username {
  color: #3c3c3c;
}
.profile-section .profile-container .personal-info .balance {
  font-size: 19px;
  margin-top: 40px;
}
.profile-section .profile-container .buttons {
  margin-top: 30px;
  display: flex;
}
.profile-section .profile-container .buttons button {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 5px;
  color: #3c3c3c;
  padding: 10px;
}
.profile-section .profile-container .buttons button:hover {
  background: #3c3c3c;
  color: #ffa300;
}
.rent-section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.rent-section .rents {
  width: 50%;
}
.rent-section .rents .rent-item {
  margin-bottom: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 0px 0px 21px -7px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
}
.rent-section .rents .rent-item .progress {
  height: 30px;
}
.rent-section .rents .rent-item .progress .progress-bar {
  background: #ffa300;
  color: #3c3c3c;
}
.rent-section .rents .rent-item button {
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 5px;
  color: #3c3c3c;
  padding: 10px;
}
.rent-section .rents .rent-item button:hover {
  background: #3c3c3c;
  color: #ffa300;
}
.edit-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-container .profile-edit-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edit-container .profile-edit-form input {
  width: 290px;
  height: 50px;
  font-size: 15px;
  border: solid 2px #ffa300;
  border-radius: 5px;
  padding: 10px;
  color: #6d6d6d;
  margin-bottom: 5px;
}
.edit-container .profile-edit-form input:focus {
  outline: none;
}
.edit-container .profile-edit-form input::placeholder {
  color: #6d6d6d;
}
.review-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.5s;
  z-index: 11;
}
.review-modal .modal__dialog {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 16px;
  transition: 0.7s;
  transform: translateY(-50px);
  padding: 15px 30px;
}
.review-modal .modal__dialog-header {
  display: flex;
  justify-content: flex-end;
}
.review-modal .modal__dialog-header-close-btn {
  font-size: 32px;
  color: #ffa300;
  background: #FFFFFF;
  border: none;
  position: absolute;
  top: -5px;
  right: 10px;
  height: fit-content;
  cursor: pointer;
}
.review-modal .modal__dialog-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;
}
.review-modal .modal__dialog-body .review-greeting {
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  margin-top: 13px;
  text-align: center;
}
.review-modal .modal__dialog-body .textarea {
  margin-top: 30px;
  width: 300px;
  height: 190px;
  resize: none;
  border: 2px solid #ffa300;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  cursor: text;
}
.review-modal .modal__dialog-body .balance-input {
  width: 290px;
  height: 50px;
  font-size: 15px;
  border: solid 2px #ffa300;
  border-radius: 5px;
  padding: 10px;
  color: #6d6d6d;
  margin-bottom: 5px;
}
.review-modal .modal__dialog-body .balance-input:focus {
  outline: none;
}
.review-modal .modal__dialog-body .balance-input::placeholder {
  color: #6d6d6d;
}
.review-modal .modal__dialog-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.review-modal .modal__dialog-footer .btn_close {
  text-align: center;
  margin-top: 11px;
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 28px;
  color: #3c3c3c;
  cursor: pointer;
  background: #ffa300;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}
.review-modal .modal__dialog-footer .btn_close:hover {
  background: #cc8200;
}
.review-modal-active {
  visibility: visible;
  opacity: 1;
}
.review-modal-active__dialog {
  transform: translateY(0);
}
@media (max-width: 576px) {
  .navbar .menu {
    margin: 0;
  }
  .init-container .init-form {
    width: 98%;
  }
  .greeting-container .greeting-label {
    width: 98%;
    font-size: 25px;
  }
  .greeting-container .selector {
    font-size: 12px;
    width: 98%;
    display: flex;
    justify-content: space-around;
  }
  .cards-container {
    height: auto;
  }
  .cards-container .car-container {
    width: 98%;
  }
  .cards-container .car-container .car-label {
    margin: 10px;
    font-size: 20px;
  }
  .cards-container .car-container .cards {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .cards-container .car-container .cards .card {
    width: 97%;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .cards-container .main-description {
    width: 98%;
    font-size: 18px;
    margin: 32px 10px 0;
  }
  .main-car-block {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main-car-block .car-pic {
    margin-bottom: 20px;
  }
  .main-car-block .car-pic img {
    width: 311px;
  }
  .main-car-block .info-block {
    margin-left: 0;
  }
  .main-car-block .info-block .buttons-container button {
    margin: 10px 0 0;
  }
  .profile-section {
    margin-top: 30px;
    align-items: center;
  }
  .profile-section .profile-container {
    width: 98%;
    flex-direction: column;
  }
  .rent-section .rents {
    width: 98%;
  }
}
/*# sourceMappingURL=style.css.map */